h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color:rgb(204, 68, 0);
    border-radius: 12px;
}
    body{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 25px;
    background-image: url(Images/image_processing20200411-18936-gu2okr.png);
    background-size: 5cm;
}
h5{
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  background-color: rgb(246, 243, 239);
  border-radius: 12px;
  width: fit-content;
  margin: auto;
}
h2{
font-family: 'Times New Roman', Times, serif;
  text-align: center;
  background-color: rgb(246, 243, 239);
  border-radius: 12px;
  width: fit-content;
  margin: auto;
}
h3{
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  background-color: rgb(246, 243, 239);
  border-radius: 12px;
  width: fit-content;
  margin: auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
  }
  

  li a {
    border-radius: 12px;
    margin: 14px 0px;
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    background-color: rgb(204, 68, 0);
  }
  li a:hover {
    background-color: #555;
    color: rgb(204, 68, 0);
  }
  h3{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: rgb(204, 68, 0);
    border-radius: 12px;
    width: fit-content;
    margin: auto;
  }